n8n/wf1_daily_script_generator.json
{
  "name": "WF1 - Daily Script Generator (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily TikTok Scraper Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "code": "// Validate all required environment variables\nconst requiredVars = {\n  TIKTOK_NICHE: $env.TIKTOK_NICHE,\n  TIKTOK_SCRAPER_API_URL: $env.TIKTOK_SCRAPER_API_URL,\n  SUPABASE_URL: $env.SUPABASE_URL,\n  SUPABASE_SERVICE_ROLE_KEY: $env.SUPABASE_SERVICE_ROLE_KEY,\n  DEFAULT_USER_ID: $env.DEFAULT_USER_ID || 'system-user'\n};\n\nconst missing = [];\nfor (const [key, value] of Object.entries(requiredVars)) {\n  if (!value || value.trim() === '') {\n    missing.push(key);\n  }\n}\n\nif (missing.length > 0) {\n  throw new Error(`Missing required environment variables: ${missing.join(', ')}`);\n}\n\n// Return validated config\nreturn [{\n  tiktokNiche: requiredVars.TIKTOK_NICHE,\n  tiktokScraperApiUrl: requiredVars.TIKTOK_SCRAPER_API_URL,\n  supabaseUrl: requiredVars.SUPABASE_URL,\n  supabaseServiceKey: requiredVars.SUPABASE_SERVICE_ROLE_KEY,\n  defaultUserId: requiredVars.DEFAULT_USER_ID\n}];",
        "jsFunction": "return await $input.all();"
      },
      "id": "env-validation",
      "name": "Environment Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tiktokNiche",
              "value": "={{ $json.tiktokNiche }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "tiktokScraperApiUrl",
              "value": "={{ $json.tiktokScraperApiUrl }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "supabaseUrl",
              "value": "={{ $json.supabaseUrl }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "supabaseServiceKey",
              "value": "={{ $json.supabaseServiceKey }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "defaultUserId",
              "value": "={{ $json.defaultUserId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "workflow-config",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.supabaseUrl }}/rest/v1/brand_config?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-brand-config",
      "name": "Fetch Brand Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-brand",
              "name": "brandConfig",
              "value": "={{ $json[0] }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-brand-config",
      "name": "Set Brand Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.tiktokScraperApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "niche",
              "value": "={{ $('Workflow Configuration').first().json.tiktokNiche }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "sort",
              "value": "viral"
            }
          ]
        },
        "options": {}
      },
      "id": "scrape-tiktok",
      "name": "Scrape TikTok Viral Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-videos",
      "name": "Split Videos for Processing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "videoUrl",
              "value": "={{ $json.videoUrl }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "videoDescription",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "videoViews",
              "value": "={{ $json.viewCount }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "videoLikes",
              "value": "={{ $json.likeCount }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "videoShares",
              "value": "={{ $json.shareCount || 0 }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "videoComments",
              "value": "={{ $json.commentCount || 0 }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "videoDuration",
              "value": "={{ $json.duration || 0 }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "sourceHash",
              "value": "={{ $json.videoId || $json.videoUrl.split('/').pop() }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "brandConfig",
              "value": "={{ $('Set Brand Config').first().json.brandConfig }}",
              "type": "object"
            },
            {
              "id": "id-10",
              "name": "workflowConfig",
              "value": "={{ $('Workflow Configuration').first().json }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Video Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.workflowConfig.supabaseUrl }}/rest/v1/scripts?source_hash=eq.{{ $json.sourceHash }}&select=id,source_hash",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.workflowConfig.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.workflowConfig.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-duplicate",
      "name": "Check for Duplicate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-duplicate",
      "name": "If Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-rate-limit-1",
      "name": "Rate Limit - Analysis",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze why this TikTok went viral:\\n\\nURL: {{ $('Extract Video Data').first().json.videoUrl }}\\nDescription: {{ $('Extract Video Data').first().json.videoDescription }}\\nViews: {{ $('Extract Video Data').first().json.videoViews }}\\nLikes: {{ $('Extract Video Data').first().json.videoLikes }}\\nShares: {{ $('Extract Video Data').first().json.videoShares }}\\nComments: {{ $('Extract Video Data').first().json.videoComments }}\\n\\nReturn JSON with:\\n- hook: Opening hook strategy\\n- structure: Video pacing and flow\\n- triggers: Emotional/psychological triggers\\n- audience: Target demographic"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "analyze-gemini",
      "name": "Analyze Video with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [2420, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Classify this video content into one of these content pillars based on the analysis:\\n\\nAvailable pillars: ' + JSON.stringify($('Extract Video Data').first().json.brandConfig.content_pillars) + '\\n\\nVideo Analysis: ' + JSON.stringify($json) + '\\n\\nRespond with a JSON object:\\n{\\n  \"pillar\": \"<pillar_name>\",\\n  \"confidence\": <0.0-1.0>,\\n  \"reasoning\": \"<why this pillar fits>\"\\n}' }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "classify-pillar",
      "name": "Classify Content Pillar",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Based on this video analysis, create a compelling 30-60 second script for the ' + $('Workflow Configuration').first().json.tiktokNiche + ' niche.\\n\\n=== BRAND VOICE GUIDELINES ===\\n' + 'Voice: ' + ($('Extract Video Data').first().json.brandConfig.voice_description || 'Professional and engaging') + '\\n' + 'Target Audience: ' + ($('Extract Video Data').first().json.brandConfig.target_audience || 'General audience') + '\\n' + 'Required CTA: ' + ($('Extract Video Data').first().json.brandConfig.required_cta || 'Follow for more!') + '\\n' + 'Unique Angles: ' + JSON.stringify($('Extract Video Data').first().json.brandConfig.unique_angles || []) + '\\n' + 'BANNED PHRASES (never use): ' + JSON.stringify($('Extract Video Data').first().json.brandConfig.banned_phrases || []) + '\\n\\n=== VIDEO ANALYSIS ===\\n' + JSON.stringify($('Analyze Video with Gemini').first().json) + '\\n\\n=== CONTENT PILLAR ===\\n' + $('Classify Content Pillar').first().json.pillar + '\\n\\nCreate a JSON response with these exact fields:\\n- spoken_script: The full script text to be spoken by the avatar (MUST match brand voice, include required CTA at end)\\n- caption: A catchy caption for the post (max 150 chars)\\n- hashtags: Array of 5-10 relevant hashtags without # symbol\\n- on_screen_text: Array of text overlays to show during the video\\n- music_track: Suggested music style or track name\\n- hook: The opening hook line (first 3 seconds)\\n\\nMake sure the script:\\n1. Uses a similar hook strategy to grab attention immediately\\n2. Follows a proven structure that keeps viewers engaged\\n3. Matches the brand voice guidelines EXACTLY\\n4. Is 30-60 seconds when spoken at normal pace\\n5. Ends with the required CTA\\n6. NEVER uses any banned phrases' }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "generate-script",
      "name": "Generate Script with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Generate 2 alternative hook variants for this script. The hooks should be different styles but equally attention-grabbing.\\n\\nOriginal Script: ' + JSON.stringify($json) + '\\n\\nOriginal Hook: ' + $json.hook + '\\n\\nProvide a JSON array with exactly 3 hooks (including the original):\\n[\\n  {\"hook\": \"<original hook>\", \"style\": \"original\"},\\n  {\"hook\": \"<question-based hook>\", \"style\": \"question\"},\\n  {\"hook\": \"<shocking/contrarian hook>\", \"style\": \"contrarian\"}\\n]' }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "generate-hook-variants",
      "name": "Generate Hook Variants",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Score this script on a scale of 1-10 for viral potential. Be strict - only high-quality scripts should score above 6.\\n\\n=== SCRIPT ===\\n' + JSON.stringify($('Generate Script with Gemini').first().json) + '\\n\\n=== BRAND GUIDELINES ===\\n' + 'Voice: ' + ($('Extract Video Data').first().json.brandConfig.voice_description || 'N/A') + '\\n' + 'Target: ' + ($('Extract Video Data').first().json.brandConfig.target_audience || 'N/A') + '\\n\\n=== SCORING CRITERIA ===\\n1. Hook strength (does it stop the scroll?)\\n2. Brand voice alignment\\n3. Content value (is it useful/entertaining?)\\n4. Call-to-action clarity\\n5. Originality (not too derivative)\\n6. Emotional resonance\\n\\nRespond with JSON:\\n{\\n  \"quality_score\": <1-10>,\\n  \"strengths\": [\"<strength1>\", \"<strength2>\"],\\n  \"weaknesses\": [\"<weakness1>\"],\\n  \"auto_reject\": <true if score < 6>,\\n  \"improvement_suggestions\": [\"<suggestion1>\"]\\n}' }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "score-quality",
      "name": "Score Script Quality",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'Generate platform-specific captions for this script. Each platform has different tone requirements.\\n\\n=== SCRIPT ===\\nCaption: ' + $('Generate Script with Gemini').first().json.caption + '\\nHashtags: ' + JSON.stringify($('Generate Script with Gemini').first().json.hashtags) + '\\n\\n=== PLATFORM GUIDELINES ===\\n' + JSON.stringify($('Extract Video Data').first().json.brandConfig.platform_guidelines || {}) + '\\n\\nGenerate a JSON object with platform-specific captions:\\n{\\n  \"tiktok\": \"<casual caption with emojis, max 150 chars>\",\\n  \"instagram\": \"<slightly polished caption, max 200 chars>\",\\n  \"youtube\": \"<professional caption with channel CTA>\"\\n}\\n\\nInclude relevant hashtags in each caption.' }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "generate-platform-captions",
      "name": "Generate Platform Captions",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "script_json",
              "value": "={{ $('Generate Script with Gemini').first().json }}",
              "type": "object"
            },
            {
              "id": "id-2",
              "name": "analysis_json",
              "value": "={{ $('Analyze Video with Gemini').first().json }}",
              "type": "object"
            },
            {
              "id": "id-3",
              "name": "source_video_url",
              "value": "={{ $('Extract Video Data').first().json.videoUrl }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "source_hash",
              "value": "={{ $('Extract Video Data').first().json.sourceHash }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "caption",
              "value": "={{ $('Generate Script with Gemini').first().json.caption }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "hashtags",
              "value": "={{ $('Generate Script with Gemini').first().json.hashtags }}",
              "type": "object"
            },
            {
              "id": "id-7",
              "name": "music_track",
              "value": "={{ $('Generate Script with Gemini').first().json.music_track }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "pillar",
              "value": "={{ $('Classify Content Pillar').first().json.pillar }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "quality_score",
              "value": "={{ $('Score Script Quality').first().json.quality_score }}",
              "type": "number"
            },
            {
              "id": "id-10",
              "name": "auto_reject",
              "value": "={{ $('Score Script Quality').first().json.auto_reject || false }}",
              "type": "boolean"
            },
            {
              "id": "id-11",
              "name": "hook_variants",
              "value": "={{ $('Generate Hook Variants').first().json }}",
              "type": "object"
            },
            {
              "id": "id-12",
              "name": "platform_captions",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "id-13",
              "name": "source_metrics",
              "value": "={{ { views: $('Extract Video Data').first().json.videoViews, likes: $('Extract Video Data').first().json.videoLikes, captured_at: $now.toISO() } }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "prepare-insert",
      "name": "Prepare Script Data for Insert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2640, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.supabaseUrl }}/rest/v1/scripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Workflow Configuration').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Configuration').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"Pending Script\",\n  \"processed\": false,\n  \"source_video_url\": \"{{ $json.source_video_url }}\",\n  \"source_hash\": \"{{ $json.source_hash }}\",\n  \"analysis_json\": {{ JSON.stringify($json.analysis_json) }},\n  \"script_json\": {{ JSON.stringify($json.script_json) }},\n  \"caption\": \"{{ $json.caption }}\",\n  \"hashtags\": {{ JSON.stringify($json.hashtags) }},\n  \"music_track\": \"{{ $json.music_track }}\",\n  \"pillar\": \"{{ $json.pillar }}\",\n  \"quality_score\": {{ $json.quality_score }},\n  \"auto_reject\": {{ $json.auto_reject }},\n  \"hook_variants\": {{ JSON.stringify($json.hook_variants) }},\n  \"platform_captions\": {{ JSON.stringify($json.platform_captions) }},\n  \"source_metrics\": {{ JSON.stringify($json.source_metrics) }}\n}",
        "options": {}
      },
      "id": "insert-supabase",
      "name": "Insert Script to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2860, 0]
    }
  ],
  "connections": {
    "Daily TikTok Scraper Schedule": {
      "main": [[{"node": "Environment Validation", "type": "main", "index": 0}]]
    },
    "Environment Validation": {
      "main": [[{"node": "Workflow Configuration", "type": "main", "index": 0}]]
    },
    "Workflow Configuration": {
      "main": [[{"node": "Fetch Brand Config", "type": "main", "index": 0}]]
    },
    "Fetch Brand Config": {
      "main": [[{"node": "Set Brand Config", "type": "main", "index": 0}]]
    },
    "Set Brand Config": {
      "main": [[{"node": "Scrape TikTok Viral Videos", "type": "main", "index": 0}]]
    },
    "Scrape TikTok Viral Videos": {
      "main": [[{"node": "Extract Video Data", "type": "main", "index": 0}]]
    },
    "Extract Video Data": {
      "main": [[{"node": "Analyze Video with Gemini", "type": "main", "index": 0}]]
    },
    "Analyze Video with Gemini": {
      "main": [[{"node": "Classify Content Pillar", "type": "main", "index": 0}]]
    },
    "Classify Content Pillar": {
      "main": [[{"node": "Generate Script with Gemini", "type": "main", "index": 0}]]
    },
    "Generate Script with Gemini": {
      "main": [[{"node": "Generate Hook Variants", "type": "main", "index": 0}]]
    },
    "Generate Hook Variants": {
      "main": [[{"node": "Score Script Quality", "type": "main", "index": 0}]]
    },
    "Score Script Quality": {
      "main": [[{"node": "Generate Platform Captions", "type": "main", "index": 0}]]
    },
    "Generate Platform Captions": {
      "main": [[{"node": "Prepare Script Data for Insert", "type": "main", "index": 0}]]
    },
    "Prepare Script Data for Insert": {
      "main": [[{"node": "Insert Script to Supabase", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf1-v2-enhanced",
  "meta": {
    "instanceId": "viral-video-app"
  },
  "id": "wf1_daily_script_generator",
  "tags": ["viral-video-app", "script-generation", "brand-voice", "quality-control"]
}
