n8n/wf1_daily_script_generator.json
{
  "name": "WF1 - Daily Script Generator (Safe Harbor)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily TikTok Scraper Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "tiktokNiche",
              "value": "mental health",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "tiktokScraperApiUrl",
              "value": "YOUR_TIKTOK_SCRAPER_API_URL",
              "type": "string"
            },
            {
              "id": "cfg-3",
              "name": "supabaseUrl",
              "value": "YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "cfg-4",
              "name": "supabaseServiceKey",
              "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "cfg-5",
              "name": "defaultUserId",
              "value": "system-user",
              "type": "string"
            },
            {
              "id": "cfg-6",
              "name": "commentRateThreshold",
              "value": 0.008,
              "type": "number"
            },
            {
              "id": "cfg-7",
              "name": "playCountThreshold",
              "value": 100000,
              "type": "number"
            },
            {
              "id": "cfg-8",
              "name": "shareCountThreshold",
              "value": 500,
              "type": "number"
            },
            {
              "id": "cfg-9",
              "name": "confidenceThreshold",
              "value": 0.65,
              "type": "number"
            },
            {
              "id": "cfg-10",
              "name": "startTime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "workflow-config",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.supabaseUrl }}/rest/v1/brand_config?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-brand-config",
      "name": "Fetch Brand Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-brand",
              "name": "brandConfig",
              "value": "={{ $json[0] || {} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-brand-config",
      "name": "Set Brand Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.tiktokScraperApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "niche",
              "value": "={{ $('Workflow Configuration').first().json.tiktokNiche }}"
            },
            {
              "name": "count",
              "value": "15"
            },
            {
              "name": "sort",
              "value": "viral"
            }
          ]
        },
        "options": {}
      },
      "id": "scrape-tiktok",
      "name": "Scrape TikTok Viral Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-videos",
      "name": "Split Videos for Processing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize fields and compute derived values\nconst item = $input.item.json;\nconst config = $('Workflow Configuration').first().json;\n\n// Extract raw values (treat missing as 0)\nconst text = item.text || item.description || item.caption || '';\nconst playCount = Number(item.playCount || item.viewCount || 0);\nconst commentCount = Number(item.commentCount || 0);\nconst shareCount = Number(item.shareCount || 0);\nconst durationSeconds = Number(item.durationSeconds || item.duration || 0);\nconst author = item.author || item.handle || null;\nconst videoUrl = item.videoUrl || item.url || '';\nconst videoId = item.videoId || videoUrl.split('/').pop() || '';\n\n// Compute derived values\nconst hookText = text.substring(0, 120).trim();\nconst commentRate = playCount > 0 ? commentCount / playCount : 0;\n\n// Compute viral filter result\nconst passesViralFilter = (\n  commentRate >= config.commentRateThreshold ||\n  playCount >= config.playCountThreshold ||\n  shareCount >= config.shareCountThreshold\n);\n\n// Build filterReason\nlet filterReason = '';\nif (passesViralFilter) {\n  const reasons = [];\n  if (commentRate >= config.commentRateThreshold) reasons.push(`commentRate=${(commentRate * 100).toFixed(2)}%`);\n  if (playCount >= config.playCountThreshold) reasons.push(`playCount=${playCount}`);\n  if (shareCount >= config.shareCountThreshold) reasons.push(`shareCount=${shareCount}`);\n  filterReason = 'PASSED: ' + reasons.join(', ');\n} else {\n  filterReason = `FAILED: commentRate=${(commentRate * 100).toFixed(2)}% (<0.8%), playCount=${playCount} (<100k), shareCount=${shareCount} (<500)`;\n}\n\nreturn {\n  // Original fields\n  text,\n  playCount,\n  commentCount,\n  shareCount,\n  durationSeconds,\n  author,\n  videoUrl,\n  videoId,\n  \n  // Derived fields\n  hookText,\n  commentRate,\n  \n  // Filter result\n  passesViralFilter,\n  filterReason,\n  \n  // Pass through config\n  config,\n  brandConfig: $('Set Brand Config').first().json.brandConfig\n};"
      },
      "id": "normalize-fields",
      "name": "Normalize Fields & Compute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "viral-filter",
              "leftValue": "={{ $json.passesViralFilter }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "viral-signal-filter",
      "name": "Viral Signal Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "skip-1",
              "name": "skipped",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "skip-2",
              "name": "reason",
              "value": "={{ $json.filterReason }}",
              "type": "string"
            },
            {
              "id": "skip-3",
              "name": "hookText",
              "value": "={{ $json.hookText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-filter-skip",
      "name": "Log Filter Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 200]
    },
    {
      "parameters": {
        "url": "={{ $json.config.supabaseUrl }}/rest/v1/scripts?source_hash=eq.{{ $json.videoId }}&select=id,source_hash",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.config.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-duplicate",
      "name": "Check for Duplicate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1760, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-duplicate",
      "name": "If Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dup-1",
              "name": "skipped",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "dup-2",
              "name": "reason",
              "value": "Duplicate video already processed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "log-duplicate-skip",
      "name": "Log Duplicate Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-1",
      "name": "Rate Limit - Classification",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Classify this TikTok hook into ONE bucket: EMOTIONAL_STORY, PARENT_IDENTITY_MIRROR, INNER_CHILD_REFLECTION, SOFT_AUTHORITY, or REJECT.\nREJECT if it is list-based, instructional, clinical, or uses therapist-authority framing.\nReturn JSON only: {\"bucket\":\"...\",\"confidence\":0-1,\"rationale\":\"...\"}\nHook: {{ $('Normalize Fields & Compute').first().json.hookText }}\nDuration: {{ $('Normalize Fields & Compute').first().json.durationSeconds }}\nMetrics: plays={{ $('Normalize Fields & Compute').first().json.playCount }} comments={{ $('Normalize Fields & Compute').first().json.commentCount }} shares={{ $('Normalize Fields & Compute').first().json.shareCount }} commentRate={{ ($('Normalize Fields & Compute').first().json.commentRate * 100).toFixed(2) }}%"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "bucket-classification",
      "name": "Bucket Classification",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [2420, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-reject",
              "leftValue": "={{ $json.bucket }}",
              "rightValue": "REJECT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "confidence-ok",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": "={{ $('Workflow Configuration').first().json.confidenceThreshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bucket-confidence-gate",
      "name": "Bucket Confidence Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.supabaseUrl }}/rest/v1/manual_review_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Workflow Configuration').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_video_url\": \"{{ $('Normalize Fields & Compute').first().json.videoUrl }}\",\n  \"hook_text\": \"{{ $('Normalize Fields & Compute').first().json.hookText }}\",\n  \"bucket\": \"{{ $json.bucket }}\",\n  \"confidence\": {{ $json.confidence }},\n  \"rationale\": \"{{ $json.rationale }}\",\n  \"rejection_reason\": \"bucket={{ $json.bucket }}, confidence={{ $json.confidence }}\",\n  \"stage\": \"bucket_classification\",\n  \"created_at\": \"{{ $('Workflow Configuration').first().json.startTime }}\"\n}",
        "options": {}
      },
      "id": "manual-review-bucket",
      "name": "Send to Manual Review (Bucket)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2860, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "rate-limit-2",
      "name": "Rate Limit - Script Gen",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2860, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Write Safe Harbor scripts that preserve the emotional spine but do NOT diagnose, give treatment advice, or promise outcomes.\nTone: warm, calm, reflective. Parent-friendly. No \"you should\" advice.\nStructure: Hook (0-3s) → Validation (3-7s, remove shame) → Body-first Reframe (7-15s, nervous-system framing) → Soft close (curiosity, NO hard CTA).\n\nFORBIDDEN WORDS (never use): diagnose, diagnosis, disorder, symptoms, treatment, cure, guarantee, \"you should\", \"here's how to fix\", outcome promises.\n\nReturn JSON only with these exact keys:\n- script_15s: target 8-20 seconds spoken\n- script_30s: longer version\n- caption_tiktok: casual, max 150 chars\n- caption_instagram: slightly polished, max 200 chars  \n- facebook_post: warm, parent-friendly tone\n- pinned_comment: question to spark comments\n- hashtags: array of 5-9 hashtags without # symbol\n- hookText_safeharbor: rewritten hook preserving emotional spine\n\nSource hook: {{ $('Normalize Fields & Compute').first().json.hookText }}\nBucket: {{ $('Bucket Classification').first().json.bucket }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "safeharbor-script-gen",
      "name": "Safe Harbor Script Generation",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [3080, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Rule-based compliance lint\nconst script = $input.item.json;\nconst script15s = script.script_15s || '';\nconst script30s = script.script_30s || '';\nconst allText = (script15s + ' ' + script30s).toLowerCase();\n\n// Forbidden words and phrases\nconst forbiddenWords = [\n  'diagnose', 'diagnosis', 'disorder', 'symptoms', \n  'treatment', 'cure', 'guarantee'\n];\n\nconst forbiddenPhrases = [\n  'you should', \"here's how to fix\", 'here is how to fix',\n  'will cure', 'will fix', 'will heal', 'guaranteed to',\n  'promise you', 'i promise'\n];\n\nconst reasons = [];\n\n// Check forbidden words\nfor (const word of forbiddenWords) {\n  if (allText.includes(word)) {\n    reasons.push(`Contains forbidden word: \"${word}\"`);\n  }\n}\n\n// Check forbidden phrases\nfor (const phrase of forbiddenPhrases) {\n  if (allText.includes(phrase)) {\n    reasons.push(`Contains forbidden phrase: \"${phrase}\"`);\n  }\n}\n\n// Check for outcome promises (patterns)\nconst outcomePatterns = [\n  /will make you feel/i,\n  /will help you overcome/i,\n  /will change your life/i,\n  /guaranteed results/i\n];\n\nfor (const pattern of outcomePatterns) {\n  if (pattern.test(allText)) {\n    reasons.push(`Contains outcome promise pattern`);\n  }\n}\n\nconst result = reasons.length === 0 ? 'PASS' : 'FAIL';\n\nreturn {\n  ...script,\n  ruleLintResult: result,\n  ruleLintReasons: reasons,\n  needsLLMBackstop: true\n};"
      },
      "id": "rule-compliance-lint",
      "name": "Rule-Based Compliance Lint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3300, 0]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "rate-limit-3",
      "name": "Rate Limit - Compliance",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3520, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Check this script for diagnosis, medical advice, treatment claims, or promised outcomes, and for forbidden phrases (\"you should\", \"fix\", \"guarantee\", etc).\nReturn JSON only: {\"result\":\"PASS\"|\"FAIL\",\"reasons\":[\"...\"]}\nScript: {{ $('Safe Harbor Script Generation').first().json.script_15s }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "llm-compliance-backstop",
      "name": "LLM Compliance Backstop",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [3740, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Combine rule-based and LLM compliance results\nconst ruleLint = $('Rule-Based Compliance Lint').first().json;\nconst llmLint = $input.item.json;\n\nconst ruleResult = ruleLint.ruleLintResult;\nconst llmResult = llmLint.result;\n\n// Both must pass for overall PASS\nconst overallResult = (ruleResult === 'PASS' && llmResult === 'PASS') ? 'PASS' : 'FAIL';\n\n// Combine reasons\nconst allReasons = [\n  ...(ruleLint.ruleLintReasons || []),\n  ...(llmLint.reasons || [])\n];\n\nreturn {\n  ...ruleLint,\n  llmLintResult: llmResult,\n  llmLintReasons: llmLint.reasons || [],\n  complianceResult: overallResult,\n  complianceReasons: allReasons,\n  retryCount: 0\n};"
      },
      "id": "combine-compliance",
      "name": "Combine Compliance Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3960, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "compliance-pass",
              "leftValue": "={{ $json.complianceResult }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "compliance-gate",
      "name": "Compliance Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4180, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-check",
              "leftValue": "={{ $json.retryCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-gate",
      "name": "Retry Gate (First Fail)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4400, 200]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "rate-limit-retry",
      "name": "Rate Limit - Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4620, 100]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=STRICT REWRITE REQUIRED. The previous script failed compliance.\n\nFailure reasons: {{ JSON.stringify($('Combine Compliance Results').first().json.complianceReasons) }}\n\nRewrite this script with EXTRA CAUTION:\n- Absolutely NO diagnosis, medical advice, treatment claims, or promised outcomes\n- NO forbidden phrases: \"you should\", \"fix\", \"guarantee\", \"cure\", \"treatment\"\n- Keep it warm, calm, reflective, parent-friendly\n- Structure: Hook → Validation → Body-first Reframe → Soft close (curiosity only)\n\nReturn JSON only with these exact keys:\nscript_15s, script_30s, caption_tiktok, caption_instagram, facebook_post, pinned_comment, hashtags, hookText_safeharbor\n\nOriginal hook: {{ $('Normalize Fields & Compute').first().json.hookText }}\nBucket: {{ $('Bucket Classification').first().json.bucket }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "strict-regenerate",
      "name": "Strict Regenerate Script",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [4840, 100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Re-run rule-based compliance on regenerated script\nconst script = $input.item.json;\nconst script15s = script.script_15s || '';\nconst script30s = script.script_30s || '';\nconst allText = (script15s + ' ' + script30s).toLowerCase();\n\nconst forbiddenWords = [\n  'diagnose', 'diagnosis', 'disorder', 'symptoms', \n  'treatment', 'cure', 'guarantee'\n];\n\nconst forbiddenPhrases = [\n  'you should', \"here's how to fix\", 'here is how to fix',\n  'will cure', 'will fix', 'will heal', 'guaranteed to',\n  'promise you', 'i promise'\n];\n\nconst reasons = [];\n\nfor (const word of forbiddenWords) {\n  if (allText.includes(word)) {\n    reasons.push(`Contains forbidden word: \"${word}\"`);\n  }\n}\n\nfor (const phrase of forbiddenPhrases) {\n  if (allText.includes(phrase)) {\n    reasons.push(`Contains forbidden phrase: \"${phrase}\"`);\n  }\n}\n\nconst result = reasons.length === 0 ? 'PASS' : 'FAIL';\n\nreturn {\n  ...script,\n  complianceResult: result,\n  complianceReasons: reasons,\n  retryCount: 1,\n  isRetry: true\n};"
      },
      "id": "retry-compliance-check",
      "name": "Retry Compliance Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5060, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-pass",
              "leftValue": "={{ $json.complianceResult }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "retry-compliance-gate",
      "name": "Retry Compliance Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [5280, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.supabaseUrl }}/rest/v1/manual_review_queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Workflow Configuration').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_video_url\": \"{{ $('Normalize Fields & Compute').first().json.videoUrl }}\",\n  \"hook_text\": \"{{ $('Normalize Fields & Compute').first().json.hookText }}\",\n  \"bucket\": \"{{ $('Bucket Classification').first().json.bucket }}\",\n  \"script_15s\": {{ JSON.stringify($json.script_15s || '') }},\n  \"compliance_reasons\": {{ JSON.stringify($json.complianceReasons || []) }},\n  \"rejection_reason\": \"Compliance failed after retry\",\n  \"stage\": \"compliance\",\n  \"retry_count\": {{ $json.retryCount || 1 }},\n  \"created_at\": \"{{ $('Workflow Configuration').first().json.startTime }}\"\n}",
        "options": {}
      },
      "id": "manual-review-compliance",
      "name": "Send to Manual Review (Compliance)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5500, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare final VideoJob data for Supabase insert\nconst normalized = $('Normalize Fields & Compute').first().json;\nconst bucket = $('Bucket Classification').first().json;\nconst config = $('Workflow Configuration').first().json;\n\n// Get script data - could be from first pass or retry\nlet scriptData = $input.item.json;\nif (!scriptData.script_15s) {\n  scriptData = $('Safe Harbor Script Generation').first().json;\n}\n\nreturn {\n  // User and status\n  user_id: config.defaultUserId,\n  status: 'Pending Script',\n  processed: false,\n  \n  // Source info\n  source_video_url: normalized.videoUrl,\n  source_hash: normalized.videoId,\n  \n  // Bucket classification\n  bucket: bucket.bucket,\n  bucket_confidence: bucket.confidence,\n  bucket_rationale: bucket.rationale,\n  \n  // Hook text\n  hookText_original: normalized.hookText,\n  hookText_safeharbor: scriptData.hookText_safeharbor || '',\n  \n  // Scripts\n  script_15s: scriptData.script_15s || '',\n  script_30s: scriptData.script_30s || '',\n  \n  // Captions and social\n  caption_tiktok: scriptData.caption_tiktok || '',\n  caption_instagram: scriptData.caption_instagram || '',\n  facebook_post: scriptData.facebook_post || '',\n  pinned_comment: scriptData.pinned_comment || '',\n  hashtags: scriptData.hashtags || [],\n  \n  // For backwards compatibility with existing UI\n  caption: scriptData.caption_tiktok || '',\n  script_json: {\n    spoken_script: scriptData.script_15s || '',\n    script_15s: scriptData.script_15s || '',\n    script_30s: scriptData.script_30s || '',\n    hook: normalized.hookText\n  },\n  \n  // Metrics\n  source_metrics: {\n    playCount: normalized.playCount,\n    commentCount: normalized.commentCount,\n    shareCount: normalized.shareCount,\n    commentRate: normalized.commentRate,\n    durationSeconds: normalized.durationSeconds,\n    captured_at: config.startTime\n  },\n  \n  // Filter and compliance logs\n  filter_reason: normalized.filterReason,\n  compliance_result: scriptData.complianceResult || 'PASS',\n  compliance_reasons: scriptData.complianceReasons || [],\n  is_retry: scriptData.isRetry || false\n};"
      },
      "id": "prepare-videojob",
      "name": "Prepare VideoJob Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.supabaseUrl }}/rest/v1/scripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Workflow Configuration').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "insert-supabase",
      "name": "Insert Script to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [4620, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare retry script for insertion\nconst normalized = $('Normalize Fields & Compute').first().json;\nconst bucket = $('Bucket Classification').first().json;\nconst config = $('Workflow Configuration').first().json;\nconst scriptData = $input.item.json;\n\nreturn {\n  user_id: config.defaultUserId,\n  status: 'Pending Script',\n  processed: false,\n  source_video_url: normalized.videoUrl,\n  source_hash: normalized.videoId,\n  bucket: bucket.bucket,\n  bucket_confidence: bucket.confidence,\n  bucket_rationale: bucket.rationale,\n  hookText_original: normalized.hookText,\n  hookText_safeharbor: scriptData.hookText_safeharbor || '',\n  script_15s: scriptData.script_15s || '',\n  script_30s: scriptData.script_30s || '',\n  caption_tiktok: scriptData.caption_tiktok || '',\n  caption_instagram: scriptData.caption_instagram || '',\n  facebook_post: scriptData.facebook_post || '',\n  pinned_comment: scriptData.pinned_comment || '',\n  hashtags: scriptData.hashtags || [],\n  caption: scriptData.caption_tiktok || '',\n  script_json: {\n    spoken_script: scriptData.script_15s || '',\n    script_15s: scriptData.script_15s || '',\n    script_30s: scriptData.script_30s || '',\n    hook: normalized.hookText\n  },\n  source_metrics: {\n    playCount: normalized.playCount,\n    commentCount: normalized.commentCount,\n    shareCount: normalized.shareCount,\n    commentRate: normalized.commentRate,\n    durationSeconds: normalized.durationSeconds,\n    captured_at: config.startTime\n  },\n  filter_reason: normalized.filterReason,\n  compliance_result: 'PASS',\n  compliance_reasons: [],\n  is_retry: true\n};"
      },
      "id": "prepare-retry-videojob",
      "name": "Prepare Retry VideoJob",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.supabaseUrl }}/rest/v1/scripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Workflow Configuration').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "insert-retry-supabase",
      "name": "Insert Retry Script to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5720, 0],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Daily TikTok Scraper Schedule": {
      "main": [[{"node": "Workflow Configuration", "type": "main", "index": 0}]]
    },
    "Workflow Configuration": {
      "main": [[{"node": "Fetch Brand Config", "type": "main", "index": 0}]]
    },
    "Fetch Brand Config": {
      "main": [[{"node": "Set Brand Config", "type": "main", "index": 0}]]
    },
    "Set Brand Config": {
      "main": [[{"node": "Scrape TikTok Viral Videos", "type": "main", "index": 0}]]
    },
    "Scrape TikTok Viral Videos": {
      "main": [[{"node": "Split Videos for Processing", "type": "main", "index": 0}]]
    },
    "Split Videos for Processing": {
      "main": [[{"node": "Normalize Fields & Compute", "type": "main", "index": 0}]]
    },
    "Normalize Fields & Compute": {
      "main": [[{"node": "Viral Signal Filter", "type": "main", "index": 0}]]
    },
    "Viral Signal Filter": {
      "main": [
        [{"node": "Check for Duplicate Script", "type": "main", "index": 0}],
        [{"node": "Log Filter Skip", "type": "main", "index": 0}]
      ]
    },
    "Check for Duplicate Script": {
      "main": [[{"node": "If Not Duplicate", "type": "main", "index": 0}]]
    },
    "If Not Duplicate": {
      "main": [
        [{"node": "Rate Limit - Classification", "type": "main", "index": 0}],
        [{"node": "Log Duplicate Skip", "type": "main", "index": 0}]
      ]
    },
    "Rate Limit - Classification": {
      "main": [[{"node": "Bucket Classification", "type": "main", "index": 0}]]
    },
    "Bucket Classification": {
      "main": [[{"node": "Bucket Confidence Gate", "type": "main", "index": 0}]]
    },
    "Bucket Confidence Gate": {
      "main": [
        [{"node": "Rate Limit - Script Gen", "type": "main", "index": 0}],
        [{"node": "Send to Manual Review (Bucket)", "type": "main", "index": 0}]
      ]
    },
    "Rate Limit - Script Gen": {
      "main": [[{"node": "Safe Harbor Script Generation", "type": "main", "index": 0}]]
    },
    "Safe Harbor Script Generation": {
      "main": [[{"node": "Rule-Based Compliance Lint", "type": "main", "index": 0}]]
    },
    "Rule-Based Compliance Lint": {
      "main": [[{"node": "Rate Limit - Compliance", "type": "main", "index": 0}]]
    },
    "Rate Limit - Compliance": {
      "main": [[{"node": "LLM Compliance Backstop", "type": "main", "index": 0}]]
    },
    "LLM Compliance Backstop": {
      "main": [[{"node": "Combine Compliance Results", "type": "main", "index": 0}]]
    },
    "Combine Compliance Results": {
      "main": [[{"node": "Compliance Gate", "type": "main", "index": 0}]]
    },
    "Compliance Gate": {
      "main": [
        [{"node": "Prepare VideoJob Data", "type": "main", "index": 0}],
        [{"node": "Retry Gate (First Fail)", "type": "main", "index": 0}]
      ]
    },
    "Prepare VideoJob Data": {
      "main": [[{"node": "Insert Script to Supabase", "type": "main", "index": 0}]]
    },
    "Retry Gate (First Fail)": {
      "main": [
        [{"node": "Rate Limit - Retry", "type": "main", "index": 0}],
        [{"node": "Send to Manual Review (Compliance)", "type": "main", "index": 0}]
      ]
    },
    "Rate Limit - Retry": {
      "main": [[{"node": "Strict Regenerate Script", "type": "main", "index": 0}]]
    },
    "Strict Regenerate Script": {
      "main": [[{"node": "Retry Compliance Check", "type": "main", "index": 0}]]
    },
    "Retry Compliance Check": {
      "main": [[{"node": "Retry Compliance Gate", "type": "main", "index": 0}]]
    },
    "Retry Compliance Gate": {
      "main": [
        [{"node": "Prepare Retry VideoJob", "type": "main", "index": 0}],
        [{"node": "Send to Manual Review (Compliance)", "type": "main", "index": 0}]
      ]
    },
    "Prepare Retry VideoJob": {
      "main": [[{"node": "Insert Retry Script to Supabase", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf1-v4-safeharbor",
  "meta": {
    "instanceId": "viral-video-app"
  },
  "id": "wf1_daily_script_generator",
  "tags": ["viral-video-app", "script-generation", "safe-harbor", "mental-health", "compliance"]
}
