n8n/wf1_daily_script_generator_improved.json
{
  "name": "WF1 - Daily Script Generator (Enhanced v2)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily TikTok Scraper Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "code": "// Validate all required environment variables\nconst requiredVars = {\n  TIKTOK_NICHE: $env.TIKTOK_NICHE,\n  TIKTOK_SCRAPER_API_URL: $env.TIKTOK_SCRAPER_API_URL,\n  SUPABASE_URL: $env.SUPABASE_URL,\n  SUPABASE_SERVICE_ROLE_KEY: $env.SUPABASE_SERVICE_ROLE_KEY,\n  DEFAULT_USER_ID: $env.DEFAULT_USER_ID || 'system-user'\n};\n\nconst missing = [];\nfor (const [key, value] of Object.entries(requiredVars)) {\n  if (!value || value.trim() === '') {\n    missing.push(key);\n  }\n}\n\nif (missing.length > 0) {\n  throw new Error(`Missing required environment variables: ${missing.join(', ')}`);\n}\n\nconsole.log(`✅ Environment validation passed. Niche: ${requiredVars.TIKTOK_NICHE}`);\n\n// Return validated config\nreturn [{\n  tiktokNiche: requiredVars.TIKTOK_NICHE,\n  tiktokScraperApiUrl: requiredVars.TIKTOK_SCRAPER_API_URL,\n  supabaseUrl: requiredVars.SUPABASE_URL,\n  supabaseServiceKey: requiredVars.SUPABASE_SERVICE_ROLE_KEY,\n  defaultUserId: requiredVars.DEFAULT_USER_ID,\n  startTime: new Date().toISOString()\n}];"
      },
      "id": "env-validation",
      "name": "Environment Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "url": "={{ $json.supabaseUrl }}/rest/v1/brand_config?select=*&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-brand-config",
      "name": "Fetch Brand Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-brand",
              "name": "brandConfig",
              "value": "={{ $json[0] || {} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "set-brand-config",
      "name": "Set Brand Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Environment Validation').first().json.tiktokScraperApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "niche",
              "value": "={{ $('Environment Validation').first().json.tiktokNiche }}"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "sort",
              "value": "viral"
            }
          ]
        },
        "options": {}
      },
      "id": "scrape-tiktok",
      "name": "Scrape TikTok Viral Videos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [880, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-videos",
      "name": "Split Videos for Processing",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "videoUrl",
              "value": "={{ $json.videoUrl }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "videoDescription",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "videoViews",
              "value": "={{ $json.viewCount }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "videoLikes",
              "value": "={{ $json.likeCount }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "videoShares",
              "value": "={{ $json.shareCount || 0 }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "videoComments",
              "value": "={{ $json.commentCount || 0 }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "videoDuration",
              "value": "={{ $json.duration || 0 }}",
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "sourceHash",
              "value": "={{ $json.videoId || $json.videoUrl.split('/').pop() }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "engagementRate",
              "value": "={{ (($json.likeCount || 0) + ($json.shareCount || 0) + ($json.commentCount || 0)) / Math.max($json.viewCount, 1) }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Video Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "url": "={{ $('Environment Validation').first().json.supabaseUrl }}/rest/v1/scripts?source_hash=eq.{{ $json.sourceHash }}&select=id,source_hash",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Validation').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Environment Validation').first().json.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-duplicate",
      "name": "Check for Duplicate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-duplicate",
      "name": "If Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-rate-limit-1",
      "name": "Rate Limit - Analysis",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Analyze why this TikTok went viral. Be concise:\\n\\nURL: {{ $('Extract Video Data').first().json.videoUrl }}\\nDescription: {{ $('Extract Video Data').first().json.videoDescription }}\\nViews: {{ $('Extract Video Data').first().json.videoViews }}\\nEngagement: {{ $('Extract Video Data').first().json.engagementRate }}\\n\\nReturn JSON:\\n{\\n  \"hook\": \"<opening hook strategy>\",\\n  \"structure\": \"<video pacing>\",\\n  \"triggers\": [\"<trigger1>\", \"<trigger2>\"],\\n  \"pillar\": \"<educational|entertainment|inspirational|trending>\"\\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "analyze-and-classify",
      "name": "Analyze & Classify Video",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [2200, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-rate-limit-2",
      "name": "Rate Limit - Script",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Create a 30-60 second script for {{ $('Environment Validation').first().json.tiktokNiche }} niche.\\n\\nBrand Voice: {{ $('Set Brand Config').first().json.brandConfig.voice_description || 'Professional and engaging' }}\\nTarget: {{ $('Set Brand Config').first().json.brandConfig.target_audience || 'General audience' }}\\nRequired CTA: {{ $('Set Brand Config').first().json.brandConfig.required_cta || 'Follow for more!' }}\\n\\nViral Analysis: {{ JSON.stringify($json) }}\\n\\nReturn JSON:\\n{\\n  \"spoken_script\": \"<full script with required CTA>\",\\n  \"caption\": \"<150 char caption>\",\\n  \"hashtags\": [\"hashtag1\", \"hashtag2\"],\\n  \"hook\": \"<first 3 seconds>\",\\n  \"music_track\": \"<music suggestion>\"\\n}\\n\\nMUST include required CTA at end. NO banned phrases: {{ JSON.stringify($('Set Brand Config').first().json.brandConfig.banned_phrases || []) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "generate-script",
      "name": "Generate Script",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [2640, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-rate-limit-3",
      "name": "Rate Limit - Quality",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2860, 0]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Score this script 1-10 for viral potential. Be strict - only 6+ are good enough.\\n\\nScript: {{ JSON.stringify($('Generate Script').first().json) }}\\n\\nReturn JSON:\\n{\\n  \"quality_score\": <1-10>,\\n  \"auto_reject\": <true if score < 6>,\\n  \"strengths\": [\"<strength1>\"],\\n  \"weaknesses\": [\"<weakness1>\"]\\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "score-quality",
      "name": "Score Script Quality",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [3080, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.auto_reject }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-quality-pass",
      "name": "If Quality Passed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3300, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "scriptData",
              "value": "={\n  \"user_id\": \"{{ $('Environment Validation').first().json.defaultUserId }}\",\n  \"status\": \"Pending Script\",\n  \"processed\": false,\n  \"source_video_url\": \"{{ $('Extract Video Data').first().json.videoUrl }}\",\n  \"source_hash\": \"{{ $('Extract Video Data').first().json.sourceHash }}\",\n  \"analysis_json\": {{ JSON.stringify($('Analyze & Classify Video').first().json) }},\n  \"script_json\": {{ JSON.stringify($('Generate Script').first().json) }},\n  \"caption\": \"{{ $('Generate Script').first().json.caption }}\",\n  \"hashtags\": {{ JSON.stringify($('Generate Script').first().json.hashtags) }},\n  \"music_track\": \"{{ $('Generate Script').first().json.music_track }}\",\n  \"pillar\": \"{{ $('Analyze & Classify Video').first().json.pillar }}\",\n  \"quality_score\": {{ $('Score Script Quality').first().json.quality_score }},\n  \"auto_reject\": false,\n  \"source_metrics\": {\n    \"views\": {{ $('Extract Video Data').first().json.videoViews }},\n    \"likes\": {{ $('Extract Video Data').first().json.videoLikes }},\n    \"shares\": {{ $('Extract Video Data').first().json.videoShares }},\n    \"comments\": {{ $('Extract Video Data').first().json.videoComments }},\n    \"engagement_rate\": {{ $('Extract Video Data').first().json.engagementRate }},\n    \"duration\": {{ $('Extract Video Data').first().json.videoDuration }},\n    \"captured_at\": \"{{ $('Environment Validation').first().json.startTime }}\"\n  }\n}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "prepare-insert",
      "name": "Prepare Script Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3520, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Environment Validation').first().json.supabaseUrl }}/rest/v1/scripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Validation').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Environment Validation').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.scriptData }}",
        "options": {}
      },
      "id": "insert-supabase",
      "name": "Insert Script to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3740, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Environment Validation').first().json.supabaseUrl }}/rest/v1/rejected_scripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Validation').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Environment Validation').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Environment Validation').first().json.defaultUserId }}\",\n  \"source_video_url\": \"{{ $('Extract Video Data').first().json.videoUrl }}\",\n  \"source_hash\": \"{{ $('Extract Video Data').first().json.sourceHash }}\",\n  \"script_json\": {{ JSON.stringify($('Generate Script').first().json) }},\n  \"quality_score\": {{ $('Score Script Quality').first().json.quality_score }},\n  \"rejection_reason\": \"Quality score too low: {{ $('Score Script Quality').first().json.quality_score }}/10\",\n  \"weaknesses\": {{ JSON.stringify($('Score Script Quality').first().json.weaknesses) }}\n}",
        "options": {}
      },
      "id": "insert-rejected",
      "name": "Insert to Rejected Scripts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3300, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "message",
              "value": "Skipping duplicate video: {{ $('Extract Video Data').first().json.videoUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "skip-duplicate",
      "name": "Skip Duplicate Video",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 200]
    }
  ],
  "connections": {
    "Daily TikTok Scraper Schedule": {
      "main": [[{"node": "Environment Validation", "type": "main", "index": 0}]]
    },
    "Environment Validation": {
      "main": [[{"node": "Fetch Brand Config", "type": "main", "index": 0}]]
    },
    "Fetch Brand Config": {
      "main": [[{"node": "Set Brand Config", "type": "main", "index": 0}]]
    },
    "Set Brand Config": {
      "main": [[{"node": "Scrape TikTok Viral Videos", "type": "main", "index": 0}]]
    },
    "Scrape TikTok Viral Videos": {
      "main": [[{"node": "Split Videos for Processing", "type": "main", "index": 0}]]
    },
    "Split Videos for Processing": {
      "main": [[{"node": "Extract Video Data", "type": "main", "index": 0}]]
    },
    "Extract Video Data": {
      "main": [[{"node": "Check for Duplicate Script", "type": "main", "index": 0}]]
    },
    "Check for Duplicate Script": {
      "main": [[{"node": "If Not Duplicate", "type": "main", "index": 0}]]
    },
    "If Not Duplicate": {
      "main": [
        [{"node": "Rate Limit - Analysis", "type": "main", "index": 0}],
        [{"node": "Skip Duplicate Video", "type": "main", "index": 0}]
      ]
    },
    "Rate Limit - Analysis": {
      "main": [[{"node": "Analyze & Classify Video", "type": "main", "index": 0}]]
    },
    "Analyze & Classify Video": {
      "main": [[{"node": "Rate Limit - Script", "type": "main", "index": 0}]]
    },
    "Rate Limit - Script": {
      "main": [[{"node": "Generate Script", "type": "main", "index": 0}]]
    },
    "Generate Script": {
      "main": [[{"node": "Rate Limit - Quality", "type": "main", "index": 0}]]
    },
    "Rate Limit - Quality": {
      "main": [[{"node": "Score Script Quality", "type": "main", "index": 0}]]
    },
    "Score Script Quality": {
      "main": [[{"node": "If Quality Passed", "type": "main", "index": 0}]]
    },
    "If Quality Passed": {
      "main": [
        [{"node": "Prepare Script Data", "type": "main", "index": 0}],
        [{"node": "Insert to Rejected Scripts", "type": "main", "index": 0}]
      ]
    },
    "Prepare Script Data": {
      "main": [[{"node": "Insert Script to Supabase", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf1-v3-enhanced",
  "meta": {
    "instanceId": "viral-video-app"
  },
  "id": "wf1_daily_script_generator",
  "tags": ["viral-video-app", "script-generation", "enhanced", "deduplication", "quality-control"]
}