n8n/wf2_create_video_draft_improved.json
{
  "name": "WF2 - Create Video Draft (Enhanced)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-script",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "approve-script"
    },
    {
      "parameters": {
        "code": "// Validate webhook payload and environment variables\nconst requiredVars = {\n  SUPABASE_URL: $env.SUPABASE_URL,\n  SUPABASE_SERVICE_ROLE_KEY: $env.SUPABASE_SERVICE_ROLE_KEY,\n  HEYGEN_API_KEY: $env.HEYGEN_API_KEY,\n  HEYGEN_AVATAR_ID: $env.HEYGEN_AVATAR_ID\n};\n\nconst missing = [];\nfor (const [key, value] of Object.entries(requiredVars)) {\n  if (!value || value.trim() === '') {\n    missing.push(key);\n  }\n}\n\nif (missing.length > 0) {\n  throw new Error(`Missing required environment variables: ${missing.join(', ')}`);\n}\n\nconst body = $input.first().json.body;\nif (!body.script_id) {\n  throw new Error('Missing required field: script_id');\n}\n\nconsole.log(`✅ Starting video creation for script ${body.script_id}`);\n\nreturn [{\n  supabaseUrl: requiredVars.SUPABASE_URL,\n  supabaseServiceKey: requiredVars.SUPABASE_SERVICE_ROLE_KEY,\n  heygenApiKey: requiredVars.HEYGEN_API_KEY,\n  heygenAvatarId: requiredVars.HEYGEN_AVATAR_ID,\n  scriptId: body.script_id,\n  requestedByUserId: body.requested_by_user_id || 'anonymous',\n  startTime: new Date().toISOString()\n}];"
      },
      "id": "validate-and-config",
      "name": "Validate & Configure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "url": "={{ $json.supabaseUrl }}/rest/v1/scripts?id=eq.{{ $json.scriptId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.supabaseServiceKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-script",
      "name": "Fetch Script Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [440, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-script-exists",
      "name": "If Script Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "script",
              "value": "={{ $json[0] }}",
              "type": "object"
            },
            {
              "id": "id-2",
              "name": "spokenScript",
              "value": "={{ $json[0].script_json.spoken_script }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "wordCount",
              "value": "={{ $json[0].script_json.spoken_script.split(' ').length }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "prepare-script-data",
      "name": "Prepare Script Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.wordCount }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "leftValue": "={{ $json.spokenScript.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-script-valid",
      "name": "If Script Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Validate & Configure').first().json.supabaseUrl }}/rest/v1/scripts?id=eq.{{ $('Validate & Configure').first().json.scriptId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"Script Approved\",\n  \"approved_at\": \"{{ $('Validate & Configure').first().json.startTime }}\",\n  \"approved_by\": \"{{ $('Validate & Configure').first().json.requestedByUserId }}\"\n}",
        "options": {}
      },
      "id": "update-status-approved",
      "name": "Update Status to Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1320, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Validate & Configure').first().json.heygenApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [{\n    \"character\": {\n      \"type\": \"avatar\",\n      \"avatar_id\": \"{{ $('Validate & Configure').first().json.heygenAvatarId }}\"\n    },\n    \"voice\": {\n      \"type\": \"text\",\n      \"input_text\": \"{{ $('Prepare Script Data').first().json.spokenScript }}\"\n    }\n  }],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"aspect_ratio\": \"9:16\"\n}",
        "options": {}
      },
      "id": "create-heygen-video",
      "name": "Create HeyGen Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1540, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Validate & Configure').first().json.supabaseUrl }}/rest/v1/scripts?id=eq.{{ $('Validate & Configure').first().json.scriptId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"Video Generating\",\n  \"video_job_id\": \"{{ $json.data.video_id }}\",\n  \"generation_started_at\": \"{{ $('Validate & Configure').first().json.startTime }}\"\n}",
        "options": {}
      },
      "id": "update-status-generating",
      "name": "Update Status to Generating",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1760, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-initial",
      "name": "Wait Initial 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $('Create HeyGen Video').first().json.data.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Validate & Configure').first().json.heygenApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-status-1",
      "name": "Check Status (1st)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2200, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-complete-1",
      "name": "If Complete (1st Check)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait Retry 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2420, 200]
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $('Create HeyGen Video').first().json.data.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Validate & Configure').first().json.heygenApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-status-2",
      "name": "Check Status (2nd)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2640, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-complete-2",
      "name": "If Complete (2nd Check)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2860, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Validate & Configure').first().json.supabaseUrl }}/rest/v1/scripts?id=eq.{{ $('Validate & Configure').first().json.scriptId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"Video Ready (Preview)\",\n  \"video_url\": \"{{ $json.data.video_url }}\",\n  \"video_ready_at\": \"{{ new Date().toISOString() }}\",\n  \"video_duration\": {{ $json.data.duration || 0 }},\n  \"video_thumbnail\": \"{{ $json.data.thumbnail_url || '' }}\"\n}",
        "options": {}
      },
      "id": "update-supabase-success",
      "name": "Update Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2640, -100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Validate & Configure').first().json.supabaseUrl }}/rest/v1/scripts?id=eq.{{ $('Validate & Configure').first().json.scriptId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Validate & Configure').first().json.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"Failed\",\n  \"error_message\": \"Video generation failed or timed out. Status: {{ $json.data.status || 'unknown' }}\",\n  \"failed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "update-supabase-failed",
      "name": "Update Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2860, 400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, script_id: $('Validate & Configure').first().json.scriptId, status: 'Video Ready (Preview)', video_url: $json.video_url } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2860, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, script_id: $('Validate & Configure').first().json.scriptId, status: 'Failed', error: 'Video generation failed or timed out' } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-failed",
      "name": "Respond Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3080, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Script not found', script_id: $('Validate & Configure').first().json.scriptId } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "respond-not-found",
      "name": "Respond Script Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Invalid script - too long or empty', script_id: $('Validate & Configure').first().json.scriptId, word_count: $('Prepare Script Data').first().json.wordCount } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-invalid-script",
      "name": "Respond Invalid Script",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Validate & Configure", "type": "main", "index": 0}]]
    },
    "Validate & Configure": {
      "main": [[{"node": "Fetch Script Data", "type": "main", "index": 0}]]
    },
    "Fetch Script Data": {
      "main": [[{"node": "If Script Exists", "type": "main", "index": 0}]]
    },
    "If Script Exists": {
      "main": [
        [{"node": "Prepare Script Data", "type": "main", "index": 0}],
        [{"node": "Respond Script Not Found", "type": "main", "index": 0}]
      ]
    },
    "Prepare Script Data": {
      "main": [[{"node": "If Script Valid", "type": "main", "index": 0}]]
    },
    "If Script Valid": {
      "main": [
        [{"node": "Update Status to Approved", "type": "main", "index": 0}],
        [{"node": "Respond Invalid Script", "type": "main", "index": 0}]
      ]
    },
    "Update Status to Approved": {
      "main": [[{"node": "Create HeyGen Video", "type": "main", "index": 0}]]
    },
    "Create HeyGen Video": {
      "main": [[{"node": "Update Status to Generating", "type": "main", "index": 0}]]
    },
    "Update Status to Generating": {
      "main": [[{"node": "Wait Initial 30s", "type": "main", "index": 0}]]
    },
    "Wait Initial 30s": {
      "main": [[{"node": "Check Status (1st)", "type": "main", "index": 0}]]
    },
    "Check Status (1st)": {
      "main": [[{"node": "If Complete (1st Check)", "type": "main", "index": 0}]]
    },
    "If Complete (1st Check)": {
      "main": [
        [{"node": "Update Success", "type": "main", "index": 0}],
        [{"node": "Wait Retry 60s", "type": "main", "index": 0}]
      ]
    },
    "Wait Retry 60s": {
      "main": [[{"node": "Check Status (2nd)", "type": "main", "index": 0}]]
    },
    "Check Status (2nd)": {
      "main": [[{"node": "If Complete (2nd Check)", "type": "main", "index": 0}]]
    },
    "If Complete (2nd Check)": {
      "main": [
        [{"node": "Update Success", "type": "main", "index": 0}],
        [{"node": "Update Failed", "type": "main", "index": 0}]
      ]
    },
    "Update Success": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    },
    "Update Failed": {
      "main": [[{"node": "Respond Failed", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "wf2-v2-enhanced",
  "meta": {
    "instanceId": "viral-video-app"
  },
  "id": "wf2_create_video_draft",
  "tags": ["viral-video-app", "video-generation", "enhanced", "validation", "retry-logic"]
}